.registration-container{
    width: 40%;
    background: #aeaebd;
    padding: 1rem;
    border-radius: 15px;
    margin: 2rem auto;
    
}
#heading{
    font-size: 2rem;
    color:#19141b;
    font-weight: 900;
    
}


.registration-container_input{
    display: grid;
    grid-template-columns: 1fr 3fr;
    
    margin: 15px 0;
}
.registration-container_input label{
    font-size: 1.5rem;
    color: #19141b;
}
.registration-container_input input{
    width: 60%;
    border: 1px solid rgb(240, 211, 216);
    background: rgb(236, 215, 236);
    border-radius: 8px;
}

.registration-container_input select{
    width: 60%;
    background: rgb(236, 215, 236)
}
.registration-container_input textarea{
    width: 60%;
    background: rgb(236, 215, 236)
}

.registration-action button{
    font: inherit;
	cursor: pointer;
	padding: 1rem 4rem;
	border: 1px solid #c5a2d4;
	background-color: #19141b;
	color: white;
	border-radius: 12px;
	margin: 1rem;
}

.registration-action button:hover{
    background-color: #311e38;
}